.carousel-indicators [data-bs-target]
{
    text-indent: -999px;
    border: 0;
    border-bottom: 10px solid transparent;
    transition: opacity .25s ease-in;
    opacity: .3;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
    background: #F1EEEE;
    border-radius: 50%;
    width: 8.04px;
    height: 0.04px;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #005A8C;
}
.carousel-control-next, .carousel-control-prev{
    width: 9% !important;
}