* {
  margin: 0;
  border: 0;
  padding: 0;
}

.main {
  width: 79rem;
  height: 40rem;
  
  background-color: #e5e5e5;
}

.face {
  width: 20rem;
  height: 25rem;
  position: absolute;
  top: 169px;
  left: 125px;
}


.box {
  position: absolute;
   left: 39%;
  
  bottom: 10%; 
  
  margin-top: 19rem;

  background: #ffffff;
  box-shadow: 8px 13px 18px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 34rem;
  height: 15rem;
}

.logo {
  width: 51px;
  height: 51px;
  position: absolute;
  top: 61px;
  left: 107px;
}
.photoshooto {
  width: 187px;
  height: 26px;
  position: absolute;
  font-family: Roboto;
  /* font-style: normal; */
  font-weight: bold;
  font-size: 28px;
  /* line-height: 33px; */

  color: #ef481b;
  text-transform: capitalize;
  top: 63px;
  left: 160px;
}
.line {
  position: absolute;
  width: 138px;
  height: 12px;
  left: 171px;
  top: 98px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  /* line-height: 12px; */

  color: #0b537b;
}

._line{
  text-align: center;
  margin-top: 4rem;
  font-weight: bold;
  

}

.__line{
  text-align: center;
  margin-top: .25rem;
  font-weight: bold;

}
.flex-container{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

._button{
  display: flex;
  height: 1.5rem;
  width: 5.5rem;
  color: #e5e5e5;
  background-color: #0b537b;
  padding: 1rem 1.5rem;
  /* padding */
  /* margin-left: 9rem; */
  /* margin-top:2rem ; */
  border-radius: .5rem;
  align-items: center;
  
}

