.homeSection2 {
  width: 90%;
  margin: auto;
  /* padding-top: 80px; */
  padding-bottom: 50px;
}
.section2Row {
  /* margin-top: 2%; */
  display: flex;
  justify-content: space-between;
}

.section2Col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.section2Col img {
  width: 100%;
}

.section2Col a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #005a8c;
}

.section2Col h1 {
  padding-top: 16px;
  color: #00446a;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}

.section2Col p {
  padding: 15px 0 25px;
  font-size: 18px;
  line-height: 21px;
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .section2Col h1 {
    font-size: 43px;
  }
  .section2Col p {
    font-size: 24px;
    line-height: 1.7rem;
  }
  .section2Col a {
    font-size: 25px;
  }
}
@media only screen and (max-width: 700px) {
  .section2Row {
    flex-direction: column;
  }

  .homeSection2 {
    width: 80%;
  }

  .section2Col h1 {
    font-size: 48px;
  }

  .section2Col p {
    font-size: 30px;
    line-height: 2rem;
  }

  .section2Col a {
    font-size: 18px;
  }
}
